modules = ["python-3.11"]
[nix]
channel = "stable-24_05"
packages = ["cacert", "glibcLocales", "libxcrypt", "pkg-config", "xcodebuild", "xsimd", "zlib"]

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port main:app --log-level warning"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
